<tbody>
{{for field in fieldset.render_fields.itervalues()}}
  <tr>
    <td class="field_readonly">{{html.escape_once([field.label_text, fieldset.prettify(field.key)][int(field.label_text is None)])}}:</td>
    <td>{{field.render_readonly()}}</td>
  </tr>
{{endfor}}
</tbody>
