<tbody>
{{for field in fieldset.render_fields.itervalues()}}
{{if field.requires_label}}
  <tr>
    <td class="field_readonly">{{field.label()}}:</td>
    <td>{{field.render_readonly()}}</td>
  </tr>
{{endif}}
{{endfor}}
</tbody>
