*.egg-info
*.log
*.mo
*.pt.py
*.pyc
*.pyo
*.swp
.coverage
.eggs
.installed.cfg
Paste*.egg
bin
build
develop-eggs
dist
docs/_build
eggs
parts
pylonsapp/data/
pylonsapp/development.db
pylonsapp/pylonsapp/public/*/*/*/*.*
pylonsapp/pylonsapp/public/*/*/*/*.txt
pyramid/
pyramidapp/*.db
