[buildout]
newest = false
extensions = gp.vcsdevelop
#vcs-extend-develop =
find-links = http://www.gawel.org/docs/dist
parts = eggs
develop =
  ../../FormAlchemy
#  ../pyramid
  .

[eggs]
recipe = zc.recipe.egg
eggs =
    PasteScript
    Sphinx
    Pyramid
    FormAlchemy
    pyramidapp
    webtest
    nose
