#!/usr/bin/make -f
# -*- makefile -*-

export PYBUILD_NAME=formalchemy
export PYTHONPATH=$(pwd)

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_test:
	: dh_auto_test -O--buildsystem=pybuild
