{{py:
from pylons.controllers.util import url_for
_ = F_
}}
{{def title}}
{{c.modelname}}
{{enddef}}
<div class="box">
<h2>
{{_('Existing objects')}}
</h2>
<table>
  {{c.grid.render()}}
</table>
<a class="icon add" title="{{_('New object')}}" href="{{h.url_for(modelname=c.modelname, action='edit')}}">
{{_('New object')}}
</a>
</div>

<div class="box">
<h2>{{_('Related types')}}</h2>
  <table>
  {{for field in c.grid._fields.itervalues()}}
    {{if field.is_relation}}
      {{py:clsname = field.relation_type().__name__}}
      <tr><td><a href="{{h.url_for(modelname=clsname, action='list')}}">{{clsname}}</a></td></tr>
    {{endif}}
  {{endfor}}
  </table>
</div>

