{{py:
from pylons.controllers.util import url_for
_ = F_
}}
{{def title}}
{{_(action)}} {{modelname}} {{id and id or ''}}
{{enddef}}
<fieldset>
<legend>
{{_(action)}} {{modelname}} {{id and id or ''}}
</legend>
<form method="post">
  {{c.fs.render()}}
  <div class="form_controls">
      <input type="submit" class="button">
      <input type="button" value="{{_('Cancel')}}" class="button"
             onclick="javascript:window.location = '{{url_for(modelname=modelname, action='list', id=None)}}'" />
  </div>
</form>
</fieldset>
