{{py:
from pylons.controllers.util import url_for
_ = F_
}}
{{def title}}
{{_('Models')}}
{{enddef}}
<table>
{{for i, modelname in enumerate(modelnames)}}
  <tr class="{{i % 2 and 'odd' or 'even'}}"><td><a href="{{h.url_for(modelname=modelname, action='list')}}">{{modelname}}</a></td></tr>
{{endfor}}
</table>
